$textColor: #e1e2e1;
$secondaryTextColor: #363c37;
$tertiaryTextColor: #4e9ec4;

$blue: #56a2c4;
$brown: #775030;
$red:#691e10;
$yellow:#a87929;
$darkBrown:#201414;
$darkGreen:#373013;

$titleWildReward: #69f6bd;
$titleHome: #ff4db6;
$titleSpear: #24ff43;
$titleEncounter: #54b3e7;
$titleWarclaw: #d9392f;

$modalColor: #13224a;