@use "components";

.hero {
    padding-top: 32px;
    padding-bottom: 100px;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(components.$darkGreen, 0) 85%, rgba(components.$darkGreen, 1) 100%);
    }

    .container {
        position: relative;
    }

    &__text {
        margin-top: 10px;
        margin-bottom: 50px;
        font-size: 40px;
        line-height: 56px;
        text-align: center;
        font-weight: 800;
        color: components.$tertiaryTextColor;
    }

    &__logo {
        margin: 0 auto;
        height: 200px;
        display: block;
    }

    @media (max-width: 640px) {
        &__logo {
            height: 160px;
            margin-bottom: -20px;
        }

        &__text {
            font-size: 22px;
            line-height: 24px;
            margin: 24px 0;
        }
    }

    @media (max-width: 1024px) {
        padding: 20px 0;
        background-position-x: -300px;
    }
}

.infos-bar {
    padding: 16px 24px;
    max-width: 380px;
    width: 100%;
    margin: 0 auto;
    border-radius: 1vw;
    background-color: transparentize($color: components.$brown, $amount: .5);
    display: flex;
    justify-content: space-between;

    &__button {
        padding: 12px;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        white-space: nowrap;
        border: 2px solid #775030;
        border-radius: 1vw;
        color: components.$textColor;
        background-color: components.$secondaryTextColor;
    }

    @media (max-width: 640px) {
        display: block;
        max-width: 280px;
        padding-bottom: 10px;
        
        &__button {
            display: block;
            width: 90%;
            margin: 0 auto;
            margin-bottom: 6px;
        }
    }

    @media (max-width: 1024px) {
        &__button {
            align-items: center;
        }
    }
}